root {
  --main-color: red;
}
  
  
.iconFontAwesome--nav {
  color: 	#505050;
  font-size: 37px;

}

.secondary {
  z-index: 100;
}

.iconFontAwesome--nav:hover {
  color: #938E9B;
}

.iconFontAwesome--close {
  color: 	#505050;
  font-size: 37px;
  margin: 10px;
  z-index: 100;
}


.iconFontAwesome--aboutMe {
  font-size: 80px;
  margin-top: 30px;
  color: #FF9292;

}


.fa-js-square {
  font-size: 20px;
  color: var(--main-color)
}


.iconFontAwesome--skill {
  color: var(--main-color);
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-fw {
  margin: 40px;
  font-size: 40px;
}

.iconFontAwesome--backToTop {
  color: white;
  font-size: 25px;
  margin-bottom: 10px;
}

.iconFontAwesome--form {
 margin-right: 5px;
  
}

.iconFontAwesome--contact {
  font-size: 100px;
  padding: 0 20px 0 20px;
}


.iconFontAwesome--contact:hover {
  color: #938E9B;
}


.iconFontAwesome--project {
  font-size: 45px;
  margin: 20px;  
}

.iconFontAwesome--menu {
  font-size: 35px;

   
}

