
.iconFontAwesome--nav {
  color: 	#505050;
  font-size: 37px;
}

.secondary {
  z-index: 100;
}

.iconFontAwesome--nav:hover {
  color: #938E9B;
}

.iconFontAwesome--close {
  color: 	#505050;
  font-size: 37px;
  margin: 10px;
  z-index: 100;
}


.iconFontAwesome--aboutMe {
  font-size: 80px;
  margin-top: 30px;
  color: #FF9292;

}

.error {
  padding-top: 5px;
  color:#FF9292;
}

.fa-js-square {
  font-size: 20px;
  color: var(--main-color)
}


.iconFontAwesome--skill {
  color: #505050;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-fw {
  font-size: 35px;
}

.iconFontAwesome--backToTop {
  color: white;
  font-size: 25px;
  margin-bottom: 15px;
}

.iconFontAwesome--form {
 margin-right: 10px;
  
}

.iconFontAwesome--contact {
  font-size: 80px;
  padding: 0 20px 0 20px;
  color: 	#505050;
}

@media only screen and (min-width: 600px) {
  .iconFontAwesome--contact{
   font-size: 90px;
  }
}


.iconFontAwesome--contact:hover {
  color: #938E9B;
}

.iconFontAwesome--project {
  font-size: 45px;
  margin: 20px;  
}

.iconFontAwesome--menu {
  font-size: 35px;
  
}

.scroll {
  background-color: #FF9292;
  color: white;
}

.span {
  display: inline-block;
  padding: 20px;
  z-index: 99;
}