.iconFontAwesome {
  color: #948F84;
  font-size: 40px;

}

.iconFontAwesome--aboutMe {
font-size: 80px;
margin-top: 30px;
color: #FF9292;
}

.fa-js-square {
  font-size: 20px;
  color: black
}
.iconFontAwesome--skill {
  font-size: 60px;
  color: #AAA9A9;
  margin: 15px;
}

.svg {
  font-size: 30px;
}
.iconFontAwesome--backToTop {
  color: white;
  font-size: 25px;
  margin-bottom: 10px;
}

.iconFontAwesome--form {
 margin-right: 5px;
  
}